@import '../../../../assets/styles/color.constants.scss';
.search {
    margin: 0 40px;
    padding: 10px;
    &__title {
        color: $text-color;
        font-weight: 700;
        font-size: 16px;
        margin: 20px 0;
    }
    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__field {
        background: transparent;
        border: none;
        padding: 10px 20px;
        border-bottom: $ligth-grey 2px solid;
        color: $text-color;
        width: 50%;
        min-width: 200px;
        &:focus {
            outline: none;
            border-bottom: $primary-accent-color 2px solid;
        }
    }
    .search-filter {
        margin-top: 20px;
        flex: 1;
        &__label {
            color: $text-color;
            font-size: 12px;
        }
        &__button {
            margin: 0 10px;
            width: 90px;
        }
    }
}
