.not-found{
    position: fixed;
    background: white;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    &__text{
        padding: 15px;
        font-weight: bold;
    }
    &__link{
        padding: 15px;
        font-weight: bold;
    }
}