.sorting {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    &__by {
        span {
            margin: 0 20px;
        }
    }
    &__selected {
        font-weight: bold;
    }
}