@import '../../assets/styles/color.constants.scss';
.error {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__img {
        background: url('../../assets/img/oops.jpeg');
        background-repeat: no-repeat;
        height: 500px;
        width: 500px;
    }
    &__title {
        color: $primary-text-color;
        font-weight: 600;
    }
    &__sub-title {
        margin-top: 10px;
        color: $dark-grey;
    }
}