@import '../../assets/styles/color.constants.scss';
.header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('../../assets/img/posters.jpg');
    height: 240px;
    &__title {
        color: $primary-accent-color;
        font-weight: 600;
        font-size: 16px;
        padding: 10px;
        margin: 0 40px;
    }
}
