@import '../../assets/styles/color.constants.scss';

.footer {
    background: $primary-text-color;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    color: $primary-accent-color;
    font-weight: 600;
}