@import '../../../assets/styles/color.constants.scss';
.movie {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('../../../assets/img/posters.jpg');
    height: 440px;
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        color: $primary-accent-color;
        font-weight: 600;
        font-size: 16px;
        padding: 10px;
        margin: 0 40px;
    }
    &__button {
        margin-right: 40px;
        margin-top: 10px;
    }
    &__main {
        display: flex;
        margin: 10px 20px;
    }
    &__poster {
        width: 250px;
        height: 350px;
        background: #ccc;
    }
    &__img {
        height: 100%;
        width: 100%;
    }
    &__info {
        margin: 10px 20px;
        flex: 1;
    }
    &__row {
        display: flex;
        align-items: baseline;
        margin: 10px 0;
    }
    &__name {
        color: $primary-accent-color;
        text-transform: uppercase;
        font-weight: 600;
        margin: 0 10px;
    }
    &__rating {
        color: $text-color;
        height: 25px;
        width: 25px;
        border: 1px solid  $text-color;
        border-radius: 20px;
        margin: 0 10px;
        text-align: center;
        padding: 5px;
        line-height: 25px;
    }
    &__additiolal-info {
        color: $text-color;
    }
    &__year {
        color: $text-color;
        font-weight: 600;
        margin: 0 10px;
    }
    &__duration {
        color: $text-color;
        font-weight: 600;
        margin: 0 10px;
    }
    &__description {
        color: $text-color;
        margin: 20px 10px;
    }
}