@import './color.constants.scss';
.movies-db-button {
    border: none;
    background: $dark-grey;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: $text-color;
    &:hover {
        background-color: darken($color: $dark-grey, $amount: 10);
    }
    &:focus {
        outline: none;
        background-color: darken($color: $dark-grey, $amount: 10);
    }
    &--accent {
        background: $primary-accent-color;
        color: $text-color;
        &:hover {
            background-color: darken($color: $primary-accent-color, $amount: 10);
        }
        &:focus {
            outline: none;
            background-color: darken($color: $primary-accent-color, $amount: 10);
        }
    }
}