.movie-preview {
    width: 250px;
    margin: 20px;
    display: block;
    &__poster{
        height: 375px;
        width: 100%;
        background: #ccc;
    }
    &__img{
        height: 100%;
        width:100%;
    }
    &__info{
        margin: 10px 5px;
    }
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__name {
        text-transform: uppercase;
    }
    &__genre {
        font-size: 10px;
    }
    &__year {
        border: 1px solid #ddd;
    }
}